.header
  .header-logo
    %h1 Bookingdamへようこそ
    %p 〜さあ、始めよう
  .header-menu
    -if user_signed_in?
      .listsRight__item.listsRight__item--first
        = link_to "ログアウト", destroy_user_session_path, method: :delete
      
    - else
      .listsRight__item.listsRight__item--first
        = link_to "ログイン", new_user_session_path
      .listsRight__item.listsRight__item--second
        = link_to '新規ユーザー登録', step1_signup_users_path ,class: 'btn'

.main
  .main-container
    .main-image
      -# = image_tag "green.jpg", alt: "写真"   
  = javascript_pack_tag 'hello_vue'