.single-container {
    background-color: whitesmoke;
    height: 960px;
    &--header {
      text-align: center;
    }
  
    .single-main{
      height: 120px;
      width: 100%; 
  
      .l-single-container{
        h2{
          text-align: center;
          line-height: 120px;
          font-size: 30px; 
        }
  
      }
    }
    .l-single-content{
      padding-top: 30px;
      padding-left: 25%;
      padding-right: 25%;
  
      .form-group{
        margin-bottom: 30px;
        padding: 20px;
        label{
          margin-bottom: 10px;
          margin-left: 70px;
        }
        .form-require{
          background: #3CB371;
          height: 15px;
          margin: 0 10px 0 8px;
          padding: 2px 4px;
          border-radius: 2px;
          color: #fff;
          font-size: 12px;
          vertical-align: top;
          
        }
        select{
          height: 30px;
          width: 40%;
          margin-right: 70px;
          /* position: absolute; */
          float: right;
        }
        input{
          height: 30px;
          width: 40%;
          margin-right: 70px;
          /* position: absolute; */
          float: right;
        }
        p{
          margin: 0 auto;
          font-size: 12px;
        }
      }
      .form-group1{
        margin-bottom: 30px;
        padding: 20px;
        height: 100px;
        label{
          margin-bottom: 20px;
          margin-left: 70px;
        }
        textarea{
          margin-top: 20px;
          margin-bottom: 40px;
          margin-left: 70px;
          margin-right: 70px;
          height: 100px;
          width: 78%;
          margin-bottom: 30px;
          float: right;
        }
      }
      .btn_default_btn{
        background-color: #3CB371;
        font-size: 14px;
        width: 60%;
        height: 50px;
        /* text-align: center; */
        /* cursor: pointer; */
        margin-top: 10px;
        margin-left: 19%;
        margin-right: 19%;
      }
  
      .btn_default_btn2{
        background-color: #3CB371;
        font-size: 14px;
        width: 60%;
        height: 50px;
        /* text-align: center; */
        /* cursor: pointer; */
        margin-top: 30px;
        margin-left: 19%;
        margin-right: 19%;
        margin-bottom: 20px;
      }
    }
  }
  .mains__footer{
    background-color: #555555;
    color: white;
    height: 200px;
    ul{
      text-align: center;
      padding-top: 20px;
      li{
        margin-top: 11px;
        a{
          text-decoration: none;
          color: ghostwhite;
        }
      }
    }
    .mains__footer__logo{ 
      p{
        font-size: 8px;
        float: bottom;
        margin-top: 50px;
        text-align: center;
      }
    }
  }
  
  
  .done-container{
    background: rgb(245, 245, 245);
    height: 600px;
    &--header{
      text-align: center;
      padding: 24px 0;
      height: 42px;
      margin-bottom: 50px;
      img{
        width: 60px;
        height: 60px;
        vertical-align: middle;
        text-align: center;
      }
    }
    &--main{
      text-align: center;
      &--display{
        width: 700px;
        margin: auto;
        background: #fff;
        &--registration{
          padding: 16px;
          font-size: 18px;
          line-height: 1.5;
          text-align: center;
          &--form{
            padding: 24px 16px 40px;
            &--content{
              max-width: 320px;
              height: 200px;
              margin: 0 auto;
              p{
                margin-bottom: 50px;
              }
              .btn-red{
                background: #3ccace;
                border: 1px solid #3ccace;
                color: #fff;
                display: block;
                width: 100%;
                line-height: 48px;
                font-size: 14px;
                cursor: pointer;
                margin: 24px 0 0;
                text-decoration: none;
              }
            }
          }
        }
      }
    }
  }
  .mains--footer{
    background-color: #555555;
    height: 180px;
    margin: 0 auto;
    padding: 50px 0;
    text-align: center;
    font-size: 12px;
    z-index: 1;
  
    ul{
      margin-bottom: 30px;
      list-style: none;
  
      li{
        margin-bottom: 10px;
        a{
          text-decoration: none;
          color: ghostwhite;
        }
      }
    }
    img{
      width: 60px;
      height: 60px;
      vertical-align: middle;
      text-align: center;
      margin-bottom: 12px;
  
      }
    
    p{
      color: white;
    }
}
  