.header {
    color: #777777;
    height: 120px;
    background-color: #E6FFE9;
    font-size: 30px;
    padding-top: 20px;
    padding-left: 80px;
    display: flex;

    p {
        font-size: 15px;
        margin-left: 400px;
    }
    .header-menu {
        font-size: 15px;
        margin-bottom: 50px;
        position: absolute;
        top: 20px;
        right: 10px;
    }
}

.main {
    .main-container {
        width: 1440px;
        //height: 857px;
        background-color: #F5F5F5;
        margin-right: auto;

      .main-image {
          height: 300px;
          width: 1440px;
          position: absolute; 

          img {
            width: 1440px;
            overflow: hidden;
            object-fit: cover;
            //height: 300px;

          }
      }

      //.posts-container {
        //  width: 1240px;
        //  height: 550px;
        //  margin-top: 305px;
        //  background-color: white;
        //  margin-left: 100px;
        //  border: solid 1px #DDDDDD;
        //  position: absolute;
    //  }
    }
}