!!!
%html
  %head
    %meta{:content => "text/html; charset=UTF-8", "http-equiv" => "Content-Type"}/
    %title Bookingdam
    = csrf_meta_tags
    = javascript_pack_tag 'application',media: 'all', 'data-turbolinks-track': 'reload' 
    = stylesheet_link_tag 'application', media: 'all', 'data-turbolinks-track': 'reload' 
    
    -# %script{src: "https://code.jquery.com/jquery-3.3.1.min.js"}
    -# %script{type: "text/javascript", src:"https://code.jquery.com/ui/1.12.0/jquery-ui.min.js"}
    -# %script{src: "https://cdn.jsdelivr.net/npm/jquery-datetimepicker@2.5.20/build/jquery.datetimepicker.full.min.js"}
    -# %script{async: "false", defer: "defer",src: "https://maps.googleapis.com/maps/api/js?key=AIzaSyAnDDNd-rG8Zfk5YM29i8GPKIwcx02WXVM&callback=initMap"}
    -# %script{src: "//cdn.rawgit.com/mahnunchik/markerclustererplus/master/dist/markerclusterer.min.js"}
    -# %link{rel: "stylesheet", href: "https://cdn.jsdelivr.net/npm/jquery-datetimepicker@2.5.20/jquery.datetimepicker.css"}
    -# %link{rel:"prefetch" ,href:"<%= asset_pack_path 'application.css' %>"} 
  %body
    = yield
    